[submodule "content/themes/casper"]
	path = content/themes/casper
	url = https://github.com/lokiyxy/Casper.git
[submodule "core/client"]
	path = core/client
	url = https://github.com/lokiyxy/Ghost-Admin.git
